{% extends 'accountpiggy/base.html' %}
{% block title %}로그인 페이지{% endblock %}
{% block content %}
<h3>로그인</h3>
<form method="post" action="{% url 'accounts:login' %}?next={{next}}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{form.email.id_for_label}}" >{{form.email.label}}</label>
        {{form.email}}
        <label for="{{form.email.id_for_label}}" >{{form.password.label}}</label>
        {{form.password}}
        <a class="btn btn-dark" href="{% url 'accounts:register' %}?next={{next}}">회원 가입</a><button type="submit" class="btn btn-dark">로그인</button>
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
    </div>
</form>
{% endblock %}