{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accountpiggy/style.css' %}?after" type="text/css"/>
    <script
          src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
</head>
<body>
<div id="nav_top">
    <a href="/">정산 돼지</a>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">로그 아웃</a>
        <a>설정</a>
        안녕 {{user.name}}
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:register' %}">회원가입</a>
    {% endif %}
</div>
{% block content %}{% endblock %}
{% block bottom %}{% endblock %}
</body>
</html>