<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        #nav_top{
            background-color: pink;
            text-align: center;
        }
        #nav_bottom{
            background-color: #99EDC3;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="nav_top">
    <a href="/">정산 돼지</a>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">로그 아웃</a>
        <a>설정</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:register' %}">회원가입</a>
    {% endif %}
</div>
{% block content %}{% endblock %}
<div id="nav_bottom">
    <a href="/">여행</a>
    <a>친구</a>
</div>
</body>
</html>