<div class="container">
    {% for expense_in_day in expense_in_day_list %}
    <div class="row expense-day">
        {{expense_in_day.date}}</br>
    </div>
    {% for expense in expense_in_day.expense_list %}
    <div class="row expense">
        <div class="col-2 expenseSpendUser">
            {{expense.expend_user.nickname}}
        </div>
        <div class="col-10">
            <div class="row expense-first-row">
                <div class="col-3 expense-time">
                    {{expense.time}}
                </div>
                <div class="col-7 expense-users">
                    {% for user in expense.users.all %}
                    {{user.nickname}}
                    {% endfor %}
                </div>
            </div>
            <div class="row expense-second-row">
                <div class="col expensePurpose">
                    {{ expense.purpose }}
                </div>
                <div class="col expenseCost">
                    {{expense.cost}}원
                </div>
                <div class="col">
                    <a href="{% url 'accountpiggy:room_expense_save_page' room.id %}?expense_id={{expense.id}}">수정</a><a href="{% url 'accountpiggy:room_expense_delete' room.id %}?expense_id={{expense.id}}">삭제</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>