{% load tz %}
{% localtime on %}
    {% for expense_in_day in expense_in_day_list %}
    <div class="row expense-day">
        <p>{{expense_in_day.date}}</p>
    </div>
    {% for expense in expense_in_day.expense_list %}
    <div class="expense list-group" id="expense_{{forloop.counter}}">
        <div class="list-group-item list-group-item-action container">
            <div class="row">
                <div class="col-4 expenseSpendUser">
                    {{expense.expend_user.nickname}}
                </div>
                <div class="col expensePurpose">
                    {{ expense.purpose }}
                </div>
                <div class="col expenseCost">
                    {{expense.cost}}원({{expense.number_of_participants}}명)
                </div>
            </div>
        </div>
    </div>

    <div class="container collapsed-expense-info" id="collapsed-expense-info_{{forloop.counter}}">
        <div class="row">
        <div class="col-4 expenseTime">
            {{expense.datetime|localtime|date:'H:i'}}
        </div>
        <div class="col-5 expenseUsers">
            {% for user in expense.users.all %}
            {{user.nickname}}
            {% endfor %}
        </div>

        {% if indexed_user.is_admin and expense.expend_user.user.is_dummy or indexed_user.index == expense.expend_user.index %}
        <div class="col-1 expense-edit">
            <a href="{% url 'accountpiggy:room_expense_save_page' room.id %}?expense_id={{expense.id}}"><i class="material-icons">create</i></a>
        </div>
        <div class="col-1 expense-edit">
            <a href="{% url 'accountpiggy:room_expense_delete' room.id %}?expense_id={{expense.id}}"><i class="material-icons">delete</i></a>
        </div>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
{% endlocaltime %}
<script type="text/javascript">
    var acc = document.getElementsByClassName("expense");
    for(var i=0;i<acc.length;i++){
        acc[i].addEventListener("click",function(){
            /* Toggle between adding and removing the active class, */
            this.classList.toggle("active");
            var id_split_result = this.id.split("_");
            var id = id_split_result[id_split_result.length-1];
            var panel = document.getElementById(`collapsed-expense-info_${id}`);
            if (panel.style.display==="block"){
                panel.style.display="none";
            }
            else{
                panel.style.display="block";
            };
        });
    }

</script>