{% extends 'accountpiggy/base.html' %}
{% load static %}

{% block title %}정산 돼지{% endblock %}

{% block header %}안녕하세요 {{user.name}}님{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col">
            <a href="{% url 'accountpiggy:room_create_page' %}" class="btn btn-dark room-button" role="button">만들기</a>
        </div>
        <div class="col">
            <a href="{% url 'accountpiggy:room_search_page' %}" class="btn btn-dark room-button" role="button">찾기</a>
        </div>
    </div>
    <div class="row">
        {% include 'accountpiggy/room_list.html' %}
    </div>
</div>
{% else %}
<a href="{% url 'accounts:login' %}">로그인</a>을 해주세요
{% endif %}
{% endblock %}