{% extends 'accountpiggy/base_room_page.html' %}
{% block title %}지출입력{% endblock %}
{% block content %}
<h3>지출입력</h3>
<form method="post" action="{% url 'accountpiggy:room_expense_add_page' room.id %}">
    {% csrf_token %}
    {% if is_admin %}
    돈쓴자:{{form.expend_user}}
    {% endif %}
    </br></br>돈보낼자:{{form.users}}
    </br>금액:{{form.cost}}
    </br></br>용도:{{form.purpose}}
    </br></br>분류:{{form.purpose_category}}
    </br></br>쓴시간:{{form.datetime}}
    </br></br>
    <input type="submit" value="입력"/>
</form>
{% endblock %}