{% extends 'accountpiggy/base_room_page.html' %}
{% load static %}
{% block title %}정산{% endblock %}
{% block header %}정산{% endblock %}

{% block link %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'accountpiggy/room_expense_cleanup.css' %}" >
{% endblock %}

{% block content %}
<hr/>
<div class="container">
    <div class="row">
        <div class="col-12">
            여행 정산
        </div>
        <div class="col-4">
            총 지출 금액
        </div>
        <div class="col-8">
            {{total_members_expense}}원
        </div>
        {% if current_travel_days > 1 %}
        <div class="col-4">
            일별 지출 금액 {{current_travel_days}}일 차
        </div>
        <div class="col-8">
            {{total_members_daily_expense}}원
        </div>
        {% endif %}
    </div>
</div>
<div id="total_member_expense_canvas">
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-12">
            개인 정산
        </div>
        <div class="col-12">
            총 사용한 금액:{{totalexpense}}원
        </div>
        <div class="col-12">
            실질 경비:{{realexpense}}원
        </div>
        <div class="col">
            <div id="self_expense_canvas"></div>
        </div>
        {% if recv_item_list %}
        <div class="col-12">
            받을 것
        </div>
        {% for recv_item in recv_item_list %}
        <div class="col-12">
            {{ recv_item.sender }} {{recv_item.value}}원
        </div>
        {% endfor %}
        {% endif %}

        {% if send_item_list %}
        <div class="col-12">
            보낼 것
        </div>
        {% for send_item in send_item_list %}
        <div class="col-12">
            {{ send_item.receiver }} {{ send_item.value }}원
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'accountpiggy/chart.js' %}"></script>
{% endblock %}