{% extends 'accountpiggy/base_room_page.html' %}
{% block title %}방 정보{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">{{room.name}}</div>
        <div class="col"><button class="btn btn-dark" id="btn-share-url">공유하기</button></div>
    </div>
    <div class="row">
        <div class="col">암구호</div>
        <div class="col">{{roomQ}}</div>
        <div class="col">{{roomA}}</div>
    </div>
    <div class="row">
        <div class="col-12">방참가자</div>
        <div class="col">
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item">
                    {% if user.is_admin %}
                    (방장)
                    {% endif %}
                    {% if indexed_user.index == user.index %}
                    (나)
                    {% endif %}
                    ({{ user.index }}){{user.nickname}}({{ user.user.name }})

                    {% if is_admin %}
                        {% if user.user.is_dummy %}
                            <a href="{% url 'accountpiggy:room_member_edit' room.id %}?index={{user.index}}" class="edit">변경</a>
                            <a href="{% url 'accountpiggy:room_member_delete' room.id %}?index={{user.index}}" class="edit">삭제</a>
                        {% elif not user.is_admin %}
                            <a href="{% url 'accountpiggy:room_member_delete' room.id %}?index={{user.index}}" class="edit">강퇴</a>
                        {% endif %}
                    {% endif %}
                    {% if indexed_user.index == user.index %}
                            <a href="{% url 'accountpiggy:room_member_edit' room.id %}?index={{user.index}}" class="edit">변경</a>
                    {% endif %}
                </li>
                {% endfor %}

                {% if is_admin %}
                <li class="list-group-item">
                    <form method="post" action="{% url 'accountpiggy:room_info_page' room.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="adddummy"/>
                        <input type="submit" value="더미추가"/>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.querySelector("#btn-share-url").addEventListener("click",function(){
        var tempElem = document.createElement('textarea');
        tempElem.value=`[정산돼지]\n질문:{{roomQ}}\n답:{{roomA}}\n${"https://nbbanggogo.com"}{% url 'accountpiggy:room_info_page' room.id %}`;
        document.body.appendChild(tempElem);
        tempElem.select();
        tempElem.setSelectionRange(0, 9999);

        document.execCommand("copy");
        document.body.removeChild(tempElem);
    });
</script>
{% endblock %}