.expense-day {
    background-color: #d4d4d4;
    border : 1px solid #c4c4c4;
    border-radius: 4px;
    margin : 0 0 0 0;
}
.expense {
    width : 100%;
    margin: auto;
    border: 2px solid #6c757d;
    border-radius: 4px;
}
.expenseTime {
    font-size:14px
}

.expense.active {
    background-color: #f8d7da;
}

.collapsed-expense-info {
    width: 100%;
    margin: auto;
    border: 2px solid #dadada;
    overflow: hidden;
    border-radius: 4px;
}