#nav_top{
    background-color: pink;
    text-align: center;
}
#nav_bottom{
    background-color: #99EDC3;
    text-align: center;
}
#nav_bottom_room{
    background-color: #999;
    text-align: center;
}